%h1 Hello world
%h2 You walked #{@steps_today} steps today
%ul
  %li.button
    = link_to("Call log", 'call_log')    
  %li.button
    = link_to("Speak", 'speak')
  %li.button
    = link_to("Map", 'map')
  %hr
  %li.button
    = link_to("Log out", 'sign_out')
    
